<%= form_with model: article, html: { style: "width: 500px;" } do |form| %>
  <div id="error_explanation">
    <% if article.errors.any? %>
      <div class="alert alert-danger">
        <h4><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h4>

        <ul>
          <% article.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.label :title, class: "form-label" do %>
      <strong>Title:</strong>
    <% end %><br>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :body, class: "form-label" do %>
      <strong>Body:</strong>
    <% end %><br>
    <%= form.text_area :body, class: "form-control", placeholder: "Enter your article text here", rows: 6, style: "resize: none;" %><br>
  </div>


  <div class="mb-3">
    <%= form.label :status, class: "form-label" do %>
      <strong>Status:</strong>
    <% end %><br>
    <%= form.select :status, Visible::VALID_STATUSES, { selected: article.status || 'public' }, { class: "form-select" } %>
  </div>

  <div class="mt-3">
    <%= form.submit "Save", class: "btn btn-primary" %>
    <%=link_to 'All Articles', root_path, class: 'btn btn-primary' %>
  </div>
<% end %>


