<div class='d-flex justify-content-between mb-3'>
    <% if author_signed_in? %>
      <%= link_to "Profile", edit_author_registration_path %>
      <%= button_to "Log Out", destroy_author_session_path, method: :delete, class: 'btn btn-primary'%>
    <% end %>
  </div>

<div style="text-align: center; margin-bottom: 20px;">
  <img src="<%= asset_path('pic.jpg') %>" alt="Image" style="width: 100%; max-width: 100%; height: auto;">
</div>

<h3 class='d-flex justify-content-between mb-6'>

  <span>Articles</span>
  Our blog has <%= Article.public_count %> articles and counting!
  <div>
    <%= link_to "New article", new_article_path, class: 'btn btn-primary' %>
    <%= link_to "Our Authors", authors_path, class: 'btn btn-primary' %>
  </div>
  
</h3>
 <% @articles.each do |article| %>
 <% unless article.archived? %>
  <%= link_to article, class: 'text-decoration-none' do%>
  <div class="card mb-3">
    <div class="card-body">
      <h4 class="card-title text-decoration-none"> <%= article.title %> </h4>
      <p > <%= article.body %> </p>
      <% if article.author %>
        <p class="author ml-4">Author: <%= article.author.full_name %></p>
      <% else %>
        <p class="author ml-4">Author: Unknown</p>
      <% end %>
       <p> <%= article.created_at.strftime("%B %d, %Y") %> </p>
    </div>
  </div>
  <% end %>
  <%end%>
 <%end%>
